*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F0F0F0;
}

.container{
    width: 100%;
    max-width: 35rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
}

#searchInput{
    padding: 12px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.userContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.userContainer .userItem{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 15px;
    background-color: #fafaf8;
    width: 100%;
}

.userContainer .userItem img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
